@import "../../variables";

.about {
  min-height: 595px;
  padding: 92px 320px 92px 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  h1 {
    font-family: "Source Code Pro";
    font-weight: bold;
    font-size: 60px;
    text-align: center;
  }

  &__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: $GRAY_TEXT;
    text-align: justify;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}

@media (max-width: 1300px) {
  .about {
    padding: 92px 15px 92px 15px;
  }
}

@media (max-width: 767px) {
  .about {
    ul {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 575px) {
  .about {
    padding: 50px 15px 50px 15px;

    h1 {
      font-size: 40px;
    }

    &__text {
      font-size: 20px;
    }
  }
}
