$WHITE_BACKGROUND: #f7f3f3;
$BLACK_TITLE: #111827;
$GRAY_TEXT: #898989;
$BLUE: #3474f3;
$PURPLE: #6c4ceb;
$BACKGROUND_TAG: #e3e8ed;
$BUTTON_HOVER: #3a1cb39f;
$BUTTON_FOCUS: #5e3aee;
$BUTTON_DISABLE: #6c4ceb70;
$FORM_BACKGROUND: rgba(255, 255, 255, 0.5);
